/*	Replay.php	*/
/*#rename{
	position: relative;
	float:right; 
	right: 35%; 
}


#val{
	position: fixed; 
	left:75%;
	margin-top: 6%; 
	
}

#struct{
	position: fixed; 
	left:35%;
	margin-top: 6%; 

}

#bouton1{
	position: fixed;
	left:38%;
	margin-top: 19%;
	}

#bouton2{
	position: fixed;
	left:78%;
	margin-top: 19%;
	}


*/

.vertical-line{
		
		
        border-left: 2px solid #000;
        display: inline-block;
        height: 400px;
        
        



      }


.police{
	font-size: 160%;
}

