body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 100%
}

h2{
	color:#333333;
	position: absolute;
	font-family: verdana;
	right: 70%;
}

 #contenu{
 	height: 500px;
 }

 .fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

 header{
 	background-color: #6ACA6B;
 	position: relative;

 }

 footer {
	background-color: #6ACA6B;
	position:absolute;
	bottom:0;
	top: 110%;
	width:100%;
	padding-bottom: 8%;
	height:10px;

}


/*Header*/

#pre{
	color:#333333;
	text-align: center;
	font-family: verdana;
	font-size: 320%;
}

#menu {
	width: 30px;
	position: absolute;
	top: 15%;
	right: 16%;

}


	
.dropdown {
	position: absolute;
    display: inline-block;
    left: 6%;
    top:22%;
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6ACA6B; ;
    min-width: 160px;
    top: 50px;
   
    
}

div.dropdown:hover .dropdown-content {
	display: block;
	color: #6ACA6B;
}

/*Footer*/



#Copyrights {
	color: #333333;
	position: absolute;
	left: 35%;
	top: 55%;
}


/* =================================================================*/
/*Index*/


#brocolis{
	position: relative;
	width: 20%;
	float: right;
	right: 10%;
}
#title{
	position: relative;
	font-size: 250%;
	color:#333333;
	font-family: verdana; 
	left:10%;
}
#ligne{
	position: absolute;
	width: 50%;
	left: 10%;

}

.att{
	position: relative;
	font-size: 200%;
	font-family: verdana;
	color: #333333;
	left: 10%;
	
}
#bouton{
	width: 15%;
}

#boutton{
	width: 25%;
}
#bouttton{
	width: 20%;
}
.boutttton{
	width: 3%;
}

#int{
	position: absolute;
	left: 10%;
	top:71%;
}
#a{
	position: absolute;
	left: 10%;
	top: 78%;
}

#var{
	position: absolute;
	left: 27%;
	top: 71%;
}
#b{
	position: absolute;
	left: 27%;
	top:78%;
}

#double{
	position: absolute;
	left: 45%;
	top: 71%;
}
#c{
	position: absolute;
	left: 45%;
	top: 78%;
}

#time{
	position: absolute;
	left: 64%;
	top: 71%;
}
#d{
	position: absolute;
	left: 64%;
	top: 78%;
}

#date{
	position: absolute;
	left: 10%;
	top:81%;
}
#e{
	position: absolute;
	left: 10%;
	top: 88%;
}

#dbf{
	position: absolute;
	left: 27%;
	top: 81%;
}
#f{
	position: absolute;
	left: 27%;
	top:88%;
}

#char{
	position: absolute;
	left: 45%;
	top: 81%;
}
#g{
	position: absolute;
	left: 45%;
	top: 88%;
}

#bool{
	position: absolute;
	left: 64%;
	top: 81%;
}
#h{
	position: absolute;
	left: 64%;
	top: 88%;
}

#dt{
	position: absolute;
	left: 80%;
	top: 81%;
}
#i{
	position: absolute;
	left:80%;
	top: 88%;
}

a.generer {
padding: 30px 80px;
position: absolute;
background: #6ACA6B;
color: #FFFFFF;
font-weight: bold;
font-size: 18px;
left: 80%;
top: 95%;
border-radius: 25%;
}
a.generer:hover {
background: #570906;
color: #5EB6DD;
}